.headerCont {
  background-color: rgb(71, 79, 195);
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  height: 8vh;
  text-align: center;
}

.goBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  margin: 0 1rem 0 0.5rem;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.goBackIcon {
  color: rgb(255, 255, 255);
}

.headerTitle {
  grid-area: 1 / 2 / 2 / 3;
  color: white;
  font-size: 1.5rem;
}

.headerIcons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 3 / 2 / 4;
  justify-self: flex-end;
  margin: 0 1.5rem;
  gap: 1rem;
}

.headerIcon {
  color: white;
  transform: scale(1.5);
  transition: 200ms all ease-in-out;
}

.headerIcon:active {
  transition: 50ms all ease-in-out;
  color: rgb(95, 95, 95);
}
